<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="bar">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag "SFU logo.jpg" %>
      <% end %>
    </div>
  

 
    <ul>
        <li class ="category">Louis's Website</li>
        <a href="https://github.com/LouisJHC/">GitHub</a></li>
        <li><%= link_to "Blog", root_path %></li>
    
   </ul>
   
   <p class="sign_in">Login</p>
  </div>
  
  <div id="main">
    <div id="header">
      <p>Posts</p>
      
      <div class="buttons">
        <button class="button"><%= link_to "New Post", new_post_path %>
        <button class="button">
          Log Out
        </button></button>
      </div>
    </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <%end %>

<%= yield %>
</div>

</body>
</html>
